.spaceWalk {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.10);
  transition: all 1s cubic-bezier(.10, .10, .25, .90);

  &:before,
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid #201F1B;
    opacity: 0;
    transition: all 1s cubic-bezier(.10, .10, .25, .90);
  }

  &:before {
    bottom: 20px;
    left: 20px;
    border-top: none;
    border-right: none;
  }

  &:after {
    top: 20px;
    right: 20px;
    border-bottom: none;
    border-left: none;
  }

  .search {
    position: absolute;
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    color: #D0021B;
    border: none;
    background-color: rgba(223,224,229,0.95);
    transition: all 1s cubic-bezier(.10, .10, .25, .90);

    &:focus {
      outline: none;
    }

    &.left {
      top: 50%;
      transform: translateY(-50%); 
      left: 80px;
    }

    &.right {
      text-align: right;
      bottom: 50%;
      transform: translateY(50%); 
      right: 80px;
    }
  }

  .button {
    position: absolute;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 16px;
    color :#fff;
    background: #D0021B;
    padding: 8px 16px;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    cursor: pointer;
  }

  &.is-extended {
    width: 100%;
    height: 100%;

    &:before,
    &:after {
      opacity: 1;
    } 

    .search {
      background-size: 2px 30px, 30px 2px;
      transform: none;

      &.left {
        top: 20px;
        left: 20px;
      }

      &.right {
        bottom: 20px;
        right: 20px;
      }
    }

    .button {
      opacity: 0;
    }
  }
}
