.spaceWalk {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid #525b74;
    opacity: 0;
    transition: opacity 1s cubic-bezier(.10, .10, .25, .90);
  }

  &:before {
    bottom: 40px;
    left: 40px;
    border-top: none;
    border-right: none;
  }

  &:after {
    top: 40px;
    right: 40px;
    border-bottom: none;
    border-left: none;
  }

  .search {
    position: absolute;
    width: 250px;
    height: 40px;
    padding: 5px 10px;
    font-size: 18px;
    color: #222;
    background: none;
    border: none;
    transition: all 1s cubic-bezier(.10, .10, .25, .90);

    &:focus {
      outline: none;
    }

    &.left {
      top: calc(50% - 20px);
      left: calc(50% - 350px);
      background-color: rgba(#fff, 0.25);
      background-image: linear-gradient(#525b74, #525b74), linear-gradient(#525b74, #525b74);
      background-size: 2px 100%, 100% 2px;
      background-position: left top, left top;
      background-repeat: no-repeat;
    }
    &.right {
      text-align: right;
      bottom: calc(50% - 20px);
      right: calc(50% - 350px);
      background-color: rgba(#fff, 0.25);
      background-image: linear-gradient(#525b74, #525b74), linear-gradient(#525b74, #525b74);
      background-size: 2px 100%, 100% 2px;
      background-position: right bottom, right bottom;
      background-repeat: no-repeat;
    }
  }

  .button {
    position: absolute;
    width: 80px;
    height: 15px;
    top: calc(50% - 7.5px);
    left: calc(50% - 40px);
    transition: opacity 0.5s;
  }

  &.is-extended {

    &:before,
    &:after {
      opacity: 1;
    }

    .search {
      background-color: rgba(#fff, 0);
      background-size: 2px 30px, 30px 2px;
      
      &.left {
        top: 40px;
        left: 40px;
      }

      &.right {
        bottom: 40px;
        right: 40px;
      }
    }

    .button {
      opacity: 0;
    }
  }
}
